.okami {
    width: 100%;
}

.intro-box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin: 100px 15% 100px 15%;
    font-size: 2em;
    font-weight: 500;
    font-family: 'Poppins';
}

.intro-title-box {
    flex-direction: column;
}

.intro-title {
    min-height: 105px;
}

.intro-text {
    max-width: 600px;
}


.type {
    font-family: 'Poppins';
    color: rgb(240, 6, 6);
}
