.skill-box {
    margin: 80px 15% 80px 15%;
}

.skill-logo {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.skill-text-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.first-row {
    width: 35%;
    font-size: 20px;
}

.second-row {
    width: 35%;
    font-size: 20px;
}

@media (max-width: 700px) {
    .skill-text-box {
        display: flex;
        flex-direction: column;
    }

    .first-row, .second-row{
        width: 100%;
    }

    .first-row {
        margin-bottom: 30px;
    }
}