.text-box {
    margin: 120px 15% 80px 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-title {
    font-weight: 500;
    font-size: 2em;
}

.text {
    font-size: 20px;
}

.like-box {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    justify-content: space-around;
}

.like-title {
    font-weight: 500;
    font-size: 24px;
}

.like {
    font-size: 20px;
    width: 25%;
}