.footer-box {
    width: 100%;
    background-color: white;
}

.footer {
    margin: 20px 15% 20px 15%;
}

.contact-title {
    font-size: 2em;
}

.footer-opt {
    font-size: 2em;
    padding-top: 20px;
}

.opt {
    padding-right: 30px;
    color: inherit;
    text-decoration: none;
}