.navbar-box {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
}

.navbar {
    display: flex;
    height: 70px;
    margin: 8px 15% 0px 15%;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    font-weight: 500;
}

.logo {
    width: 300px;
    height: 45px;
}

.logo-black {
    display: none;
}

.logo:hover .logo-red {
    display: none;
}

.logo:hover .logo-black {
    display: inline;
}

.nav-head {
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: inherit;
}

.active {
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: red;
}

#check {
    display: none;
}

.check-btn {
    cursor: pointer;
    display: none;
}

li {
    list-style: none;
}

#nav-box {
    display: flex;
}

@media (max-width: 900px) {
    .check-btn {
        display: block;
    }

    #nav-box {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 75px;
        left: -100%;
        background-color: white;
        display: block;
        text-align: center;
    }

    li {
        padding-top: 50px;
        font-size: 40px;
    }

    #check:checked ~ nav {
        left: 0;
    }
}